

<header class="header">
    <div class="header-top">
      <p>OneTrust</p>
      <p>TCF Vendor List Viewer - Dev</p>
      <p>Internal use only</p>
      <button class="releaseNotes">Release Notes</button>
    </div>
    <div class="header-bottom">
        <p>Vendor List Version: {{v3Json.vendorListVersion}} </p>
        <p>GVL Specification Version: {{v3Json.gvlSpecificationVersion}} </p>
        <p>TCF Policy Version: {{v3Json.tcfPolicyVersion}}</p>
        <p>Last Updated: {{(v3Json.lastUpdated)}} </p>
    </div>
  </header>
  
